<% include partials/header.ejs %>
<div class="container">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <% if (item) { %>
        <form class="add-item-form" action="" method="POST" enctype="x-www-form-urlencoded">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="id">ID</label>
                    <input type="number" class="form-control" name="id" id="id" value="<%= item.id %>" required disabled>
                </div>
                <div class="form-group col-md-4">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" id="name" value="<%= item.name %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="qty">Quantity</label>
                    <input type="text" class="form-control" name="qty" id="qty" value="<%= item.qty %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="amount">Amount</label>
                    <input type="float" class="form-control" name="amount" id="amount" value="<%= item.amount %>" required>
                </div>
            </div>
            <button type="submit" class="btn btn-success float-right">Update Item</button>
        </form>
    <% } else { %>
        <p class="text-center">Item Not Found. Go <a href="/add">here</a> to add items.</p>
    <% } %>
</div>
</div>
</body>
</html>
